.sub-icon{
  height: 200px; 
  width: 200px; 
  position: absolute; 
  left: 50%; 
  margin-left: -100px; 
  top: 50%; 
  margin-top: -100px; 
  
}

.content{
  background: rgba(138, 255, 234, 0.102);
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  margin: auto;
  margin-top: 70px;
  width: 96vw;
  height: 90vh;
  overflow-y: scroll;
}

.navbar{
  position: fixed;
  top: 0px;
  padding: 6px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

textarea:focus {
  outline: none !important;
  border:1px solid rgb(251, 115, 197) !important;
  box-shadow: 0 0 1px #ce7184;
}

.navbar-container{
  margin-top: 6px;
  color: white;
  padding: 8px;
  border-radius: 40px;
  min-width: 42px;
  margin: 8px;
}

.text-plain {
  -webkit-user-select: none;/* Chrome  y Safari */ 
  -moz-user-select: none;/* Firefox */
  -ms-user-select: none;/* IE 10+ */ 
  user-select: none;
}

.navbar-option {
  margin: 0 6px;
  padding: 0 8px;
  display: inline-flex;
  border-radius: 25px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.navbar-option.just-icon {
  padding: 0 2px;
}

._container {
  padding: 8px;
  width: fit-content;
  border-radius: 16px;
}


input {
  all: unset;
}

.bg-glass{
  background: rgba(249, 226, 184, 0.848);
  border-radius: 16px;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
}

.font-title{
  font-family: "Gilroy", serif;
  font-weight: 400;
  font-style: normal;
}

.text-title{
  color: #9D6620;
}

.font-title-bold{
  font-family: "GilroyBold", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("/fonts/gilroy.otf") format("opentype");
}
@font-face {
  font-family: GilroyBold;
  src: url("/fonts/gilroy-bold.otf") format("opentype");
}